body {
    font-family: Helvetica, Verdana, Sans-serif;
}

h1 {
    background-color: blue;
    color: white;
    text-align: center;
}

p {
    background-color: blue;
    color: white;
    
}

.home {
    background-color: green;
}